* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.image {
  background-image: url(images/snapedit_1685810481295_adobe_express.svg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  height: 130px;
}

.nav-left {
  color: #005d77;
  font-size: 30px;
  font-weight: 700;
}

.nav-middle ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
  color: #005d77;
  font-weight: 300;
}

.sign-up-btn {
  background-color: #5c9fdc;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #f0f9ff;
  font-family: 'Poppins',sans-serif;
  font-weight: 300;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 130px;
  height: 80vh;
}


.hero-left {
  width: 40vw;
}

.hero-right {
  width: 60vw;
  display: flex;
  justify-content: end;
}

.hero-img {
  width: 90%;
  height: auto;

}

.hero-text {
  width: 85%;
}

.hero-heading {
  color: #005d77;
  font-size: 50px;
  font-weight: 700;
}    

.hero-subheading {  
  color: #5c9fdc;
  margin-bottom: 25px;
  font-weight: 300;
}

.hero-subtext {
  color: #8e8f92;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 25px;
}

.features-btn {
  background-color: #fda353;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #005d77;
  font-family: 'Poppins',sans-serif;
}

.info-text {
  margin-top: 100px;
}

.info-header-text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: #005d77;
}

.info-main {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.info-box {
  margin-top: 50px;
  width: 250px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #8e8f92;
  margin-bottom: 100px;
}

.info-img {
  width: auto;
  height: 180px;
}

.info-span {
  color: #1595c0;
}

.cta {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-main {
  display: flex;
  height: 150px;
  width: 70%;
  background-color: #1595c0;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
}

.cta-text-main {
  color: #f0f9ff;
  font-size: 24px;
  margin-bottom: 0;
}

.cta-subtext {
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
  color: #f0f9ff;
}

.cta-btn-main {
  width: 135px;
  height: 45px;
  background-color: #1595c0;
  color: #f0f9ff;
  border-style: solid;
  border-color: #f0f9ff;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  border-width: 2px;
}

.cta-btn-main:hover {
  background-color: #f0f9ff;
  color: #1595c0;
}

.copyright {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1fbff;
}

.strategy {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: #005d77;
}

.method {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1fbff;
}

.method-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0.4;
  margin-left: 60px;
}

.method-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 50px;
  margin-left: 50px;
}

.method-left-heading {
  color: #005d77;
  font-size: 36px;
  font-weight: 700;
}

.method-left-subheading {
  color: #1595c0;
  font-size: 22px;
  font-weight: 500;
}

.method-left-text {
  color: #8e8f92;
  font-weight: 300;
  padding-top: 8px;
}

.step-img {
  width: 50px;
  margin-right: 20px;
}

.steps-main {
  display: flex;
}

.step-one {
  display: flex;
  align-items: center;
}

.step-main-text {
  color: #1595c0;
  font-size: 20px;
  margin-bottom: 8px;
}

.step-subtext {
  color: #8e8f92;
  font-size: 16px;
  margin-bottom:50px;
}

.last-subtext {
  margin-bottom: 0;
}